*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/res/values/secrets.xml
app/src/debug/res/values/secrets.xml
/.idea
.idea/modules.xml
app/app-release.apk